
body{
   
}
.principal{
    background:#CCCCCC;
    padding: 20px;
   
}
#banner{
    width: 100%;
}


h1 {
    text-align: center;
    height: 150px;
    border: 10px solid black;
    padding: 20px;
    margin: 40px;
}
p{ 
    text-align: center;
    background: #CCCCCC;
}

em strong{
    color:red;
}
#mision{

    font-size: 20px;
}
.diferenciales{
    background: #FFFFFF;
    padding: 30px;

}
h2{
    text-align: center;
}
.items{

    font-style: italic;
}
ul{
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}
.imagenesdiferenciales{
    width: 50%;
}
